.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid $line;

    padding: 20px 16px;
}

.header__menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    right: -100%;
    background: url(/images/menu_background.png);
    background-position: center;
    transition: all 0.5s ease 0s;
    margin: 0;
    overflow: auto;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    gap: 40px;

    max-width: none;

    .burger__logo {
        position: fixed;

        top: 22px;
        left: 16px;

        z-index: 10;

        opacity: 0;

        transition: all 0.5s ease 0s;
    }

    .header__right {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &._active {
        right: 0;

        transition: all 0.5s ease 0s;

        .burger__logo {
            opacity: 1;
        }

        &::before {
            right: 0;
            transition: all 0.5s ease 0s;
        }
    }

    &::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        right: -100%;
        height: 56px;
        background-color: $dark;

        z-index: 10;

        transition: all 0.5s ease 0s;
    }
}

.header__location {
    display: none;
}

.header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.header__link {
    font-family: $fontwide;
    font-size: 24px;
    font-weight: 500;
    line-height: 108%;
    /* 25.92px */
    letter-spacing: -0.24px;

    position: relative;

    transition: all 0.3s ease 0s;

    &:hover {
        color: $gold;
    }

    &::after {
        background: none repeat scroll 0 0 transparent;
        top: 30px;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $gold;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &:hover::after {
        width: 100%;
        left: 0;
    }
}

.header__link__1 {
    font-family: $fontwide;
    font-weight: 500
}

.header__right {
    display: none;
}

.header-map {
    display: flex;
    gap: 12px;

    &__text {
        font-family: $font;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        color: $gold;

        transition: all 0.3s ease 0s;
    }

    &__path {
        transform-origin: center;

        transition: all 0.3s ease 0s;
    }

    &:hover {
        .header-map__path {
            transform: rotate(90deg) translateX(5%);
        }
    }
}

.header__icons {
    display: flex;
    gap: 33px;
}

.menu__icon {
    z-index: 8;
    display: block;
    position: relative;
    min-width: 26px;
    height: 18px;
    cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 2px;
    border-radius: 1.25px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: $light;
}

.menu__icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
}

.menu__icon::before,
.menu__icon::after {
    content: "";
    transform: rotate(0) translate(0px, 0) !important;
}

.menu__icon::before {
    top: 0px;
}

.menu__icon::after {
    bottom: 0;
}

.menu__icon._active::before {
    top: 50%;
    background-color: #fff;
    transform: rotate(-45deg) translate(0px, -80%) !important;
}

.menu__icon._active::after {
    bottom: 50%;
    background-color: #fff;
    transform: rotate(45deg) translate(0px, 80%) !important;
}

.menu__icon._active span {
    transform: scale(0) translate(0, -50%);
}

@media (min-width: 768px) {
    .header {
        padding: 23px 32px;
    }

    .header__menu {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        right: -100%;
        background: url(/images/menu_background.png);
        background-position: center;
        transition: all 0.5s ease 0s;
        margin: 0;
        overflow: auto;
        z-index: 7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        gap: 40px;

        max-width: none;

        .burger__logo {
            top: 26px;
            left: 32px;
        }

        &::before {
            height: 65px;
        }
    }

    .header__location {
        display: block;
        z-index: 8;
    }

    .header__link {
        font-size: 26px;
    }
}

@media (max-height: 498px) and (max-width: 1163px) {
    .header__menu {
        // min-height: 498px;
        justify-content: flex-start;


        padding-top: 90px;

        overflow: scroll;

        // padding-top: 100px;
    }
}

@media (min-width: 1164px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid $line;

        padding: 23px 32px;
    }

    .header__menu {
        position: relative;
        top: none;
        width: auto;
        height: auto;
        right: auto;
        background: none;
        transition: all 0.5s ease 0s;
        margin: 0;
        overflow: visible;
        z-index: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        gap: none;

        .burger__logo {
            display: none;
            pointer-events: none;
        }

        .header__right {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .header__location {
        display: none;
    }

    .header__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .header__link {
        font-family: $font;
        font-size: 16px;
        font-weight: 400;
        line-height: 105%;
        /* 25.92px */
        letter-spacing: 0.16px;

        position: relative;

        transition: all 0.3s ease 0s;

        &:hover {
            color: $gold;
        }

        &::after {
            background: none repeat scroll 0 0 transparent;
            top: 30px;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $gold;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &:hover::after {
            width: 100%;
            left: 0;
        }
    }

    .header__link__1 {
        font-family: $fontwide;
        font-weight: 500
    }

    .header__right {
        display: flex;
        gap: 40px;
    }

    .header__icons {
        display: none;
    }

    .header__right {
        display: flex;
        flex-direction: row;
    }
}